.screen-detail-container {
  display: grid;
  grid-template-rows: 20px auto;
  gap: 20px;
}

.loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-back {
  margin: 20px; /* Ajusta el margen en todos los lados */
}

.button-back button {
  padding: 10px;
  border: 1px solid #8fc4fa;
  border-radius: 10px;
  background-color: white;
  color: rgb(57, 150, 243);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.detail-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #8fc4fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #555;
  text-align: center;
  width: 80%;
  margin: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr; /* Ajusta las columnas para mantener el tamaño de la imagen constante */
  grid-template-areas:
    "title title"
    "img info"
    "button button";
}

.title {
  grid-area: title;
}

.img-container {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 300px; /* Limita la altura máxima de la imagen */
  overflow: hidden; /* Oculta el exceso de la imagen */
  border-radius: 10px;
}

.screen-image {
  border-radius: 10px;
  width: 100%; /* Asegura que la imagen llene el contenedor */
}

.info-container {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  grid-area: button;
}

@media screen and (max-width: 768px) {
  .detail-card {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "img"
      "info"
      "button";
    margin-top: 30px;
  }
}

.edit-button,
.delete-button {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.edit-button {
  border: 1px solid #8fc4fa;
  background-color: white;
  color: rgb(57, 150, 243);
}

.edit-button:hover {
  background-color: rgb(28, 114, 182);
  color: white;
}

.delete-button {
  background-color: rgb(219, 4, 4);
  color: white;
  border: none;
}

.delete-button:hover {
  background-color: rgb(200, 0, 0);
  color: white;
}
