button {
  text-decoration: none;
  background-color: white;
  color: rgb(57, 150, 243);
  padding: 5px 10px;
  border: 1px solid #8fc4fa;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  align-self: center;
  margin-right: auto;
  cursor: pointer;
}

button:hover {
  background-color: rgb(28, 114, 182);
  color: white;
}

button:disabled {
  background-color: #f0f0f0; /* Cambia el color de fondo */
  color: #cccccc; /* Cambia el color del texto */
  opacity: 0.7; /* Ajusta la opacidad del botón */
  cursor: not-allowed; /* Cambia el cursor al pasar sobre el botón deshabilitado */
}

.page-numbers {
  align-self: center;
  margin-right: auto;
}

.page-number {
  color: #3996f3; /* Celeste */
  cursor: pointer;
  margin: 0px 5px; /* Ajusta el margen horizontal entre los números de página */
}

.active.page-number {
  font-weight: bold; /* Puedes añadir negrita al número de página activo si lo deseas */
}
