.ScreenList-container {
  display: grid;
  grid-template-rows: auto 1fr 40px;
}

.login-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  color: #555;
  padding: 20px;
  border: 1px solid #8fc4fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center; /* Centra el texto */
  max-width: 400px; /* Ajusta el ancho máximo */
  height: 200px;
  margin: auto auto; /* Centra vertical y horizontalmente */
}

.loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.no-screens-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.header-container {
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.header-container h2 {
  color: #3996f3; /* Color de texto celeste */
  font-size: 24px; /* Tamaño de fuente */
  margin: 0; /* Elimina el margen superior e inferior */
  padding: 10px 0; /* Añade espacio interno superior e inferior */
}

.button-newScreen {
  text-decoration: none;
  padding: 10px;
  border: 1px solid #8fc4fa;
  border-radius: 10px;
  background-color: white;
  color: rgb(57, 150, 243);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button-newScreen:hover {
  background-color: rgb(28, 114, 182);
  color: white;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: flex-start;
  gap: 20px;
  margin: 20px; /* Agrega espacio entre el borde de la pantalla y las tarjetas */
}

.card-link-container {
  text-decoration: none; /* Evitar subrayado del enlace */
}

.card-container {
  background-color: #fff;
  color: #555;
  padding: 20px;
  border: 1px solid #8fc4fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
  height: 300px; /* Ajusta la altura de todas las tarjetas */
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card-container:hover {
  transform: scale(1.02); /* Aumenta el tamaño en un 5% al pasar el mouse */
}

.card-image {
  border-radius: 10px;
  width: 100%;
  height: 200px; /* Ajusta la altura máxima de la imagen */
  object-fit: cover;
}

.card-title {
  font-size: 20px;
}

.card-resolution {
  font-size: 15;
}

.card-price {
  font-size: 20px;
  font-weight: bold;
}

.card-link-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-link {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  align-self: start; /* Alinea el enlace en la parte superior del contenedor de la tarjeta */
  margin-right: auto; /* Empuja el enlace hacia la izquierda */
}

.card-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #3996f3;
}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}
